---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ mcp_server_tls_secret_name }}
  name: {{ mcp_server_service_name }}
  namespace: "{{ app_namespace }}"
  labels:
    app: {{ app_name }}
    service: {{ cli_download_service_name }}
spec:
  ports:
    - name: mcp-https
      protocol: TCP
      port: 9443
      targetPort: 9443
  selector:
    app: {{ app_name }}
    service: {{ cli_download_service_name }}
  type: ClusterIP
  sessionAffinity: None
